.dashboardBody {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .dashboardBody {
    flex-direction: column;
  }
}

.chart {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px;
}

.followerCard {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px;
}
