.sliderPuzzle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.vertifyWrap .loadingContainer {
  color: transparent;
}
.vertifyWrap .sliderText {
  display: none;
}
.sliderIcon {
  background-color: aqua;
}

.vertifyWrap .refreshIcon {
  background-image: url(../../images/nextArrow.png) !important;
}
